@font-face {
    font-family: Horizon;
    src: url("../Aulao/Fonts/Horizon/horizon.otf") format("otf");
}

body {
    background-color: black;
    color: white;
    height: 300%;
    font-family:'Montserrat', sans-serif;
}

/* Gerais */

    .inline {
        display: inline;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: #7559F1;
    }

/* -------------------- */

/* Capa */

    .background-image {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 200vh;
    }
    
    .informations{
        color: white;
        height: 30%;
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-top: -5%;
        padding-bottom: 8%;
    }

    .sphere {
        width: 60%;
    }

    .title {
        font-size: xxx-large;
        position: absolute;
        z-index: 9999;
        margin-top: 10%;
    }

    .subtitle {
        font-size: large;
        position: absolute;
        z-index: 9999;
        margin-top: 10.5%;
        margin-left: 18%;
    }

    .instructors_1 {
        display: flex;
        align-items: center;
        margin-top: 35%;
    }

    .know-instructors {
        font-size: smaller;
        margin-left: 1%; 
        margin-top: 3%;
    }

    .first-description {
        font-size: smaller;
        margin-top: 8%;
    }

    /* Fotos dos instrutores */
    .circulo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 4px solid black;
        background-position: center center;
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .circulo:hover {
        width: 45px;
        height: 45px;
        z-index: 1;
    }

    /* Buttons */

    .more {
        margin-top: 30%;
        z-index: 9999;
        position: absolute;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
    }

    .more:hover,
    .more:focus { 
        background-color: #7559F1;
        color: #ffffff;
    }

    .more:active {
    background: #644cd1;
    color: rgb(255, 255, 255, .7);
    }

    .subscribe {
        margin-top: 30%;
        margin-left: 14%;
        z-index: 9999;
        position: absolute;
        align-items: center;
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 100px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
    }

    .subscribe:hover,
    .subscribe:focus { 
        border: 1px solid #F158BD;
        color: #F158BD;
        font-weight: 500;
    }

    .subscribe:active {
    background: #F158BD;
    color: rgb(255, 255, 255, .7);
    }

    /* Tooltip */

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        top: 5px;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgb(255, 255, 255);
        color: #0f0c0c;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        width: 120px;
        top: 110%;
        left: 5%; 
        position: absolute;
        z-index: 1;
        font-size: smaller;
        font-weight: 600;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    /* Perguntas ao usuário */

    .unfocused-box {
        width: 20%;
        height: 10%;
        text-align: justify;
        padding: 2%;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        position: absolute;
    }

/* -------------------- */

/* Sobre o curso */
/* -------------------- */

/* Instrutores */
/* -------------------- */

/* Conteúdo */

    .content {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .contentTitle {
        font-size: 300%;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 130%;
        word-spacing: 120%;
    }

    swiper-container {
        width: 300%;
        height: 40%;
    }

    swiper-slide {
        text-align: left;
        border-radius: 5%;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin-bottom: 5%;
    }

    .blue-box {
        background-color: #7559F1;
    }

    .yellow-box {
        background-color: #d7da4a; 
    }

    .pink-box {
        background-color: #F158BD;
    }

    .orange-box {
        background-color: #e7631b;
    }

    .content-text {
        font-size: 12px;
    }

/* -------------------- */

/* Inscreva-se */
    .subscribe-area {
        height: 100vh;
    }

    .subscribe-box {
        width: 60%;
        height: 50%;
        text-align: justify;
        display: flex;
        justify-content: center;
        padding: 2%;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        position: absolute;
    }

    form {
        display: flex;
        flex-direction: column;
    }
/* -------------------- */