@keyframes fade-in {
    0% { 
      opacity: 0;
      transform: translateY(50%);
    }
    100% { 
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family:'Montserrat', sans-serif;
}

/* Responsividade */

@media all and (min-width: 760px) {
}

/* -------------------- */

/* Gerais */

    .inline {
        display: inline;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: #7559F1;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .animation {
        animation: fade-in 0.8s cubic-bezier(.17,.67,.49,1.02);
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }

    /* Menu */
    
    .wrapper{
        transition: all 0.6s ease-in-out;
    }

    #active:checked ~ .wrapper{
        right:0;
    }

    .menu-btn{
        position: fixed;
        z-index: 2;
        right: 3em;
        top: 1em;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .menu-btn span,
    .menu-btn:before,
    .menu-btn:after{
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 30%;
        width: 40%;
        border-bottom: 2px solid #ffff;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .menu-btn:before{
    transform: translateY(-8px);
    }
    .menu-btn:after{
    transform: translateY(8px);
    }

    /* Fechar menu */
    .close {
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: background .6s;
    }

    #active:checked + .menu-btn span {
        transform: scaleX(0);
    }
    #active:checked + .menu-btn:before {
        transform: rotate(45deg);
        border-color: #fff;
    }
    #active:checked + .menu-btn:after {
        transform: rotate(-45deg);
    border-color: #fff;
    }

    /* ------------------ */

    .wrapper ul{
        position: absolute;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 0;
        right: 0;
    }

    .wrapper ul a{
        text-decoration: none;
        font-size: large;
        font-weight: 500;
        color: #fff;
        margin: 0px 20px;
        opacity: 0;
        transition: all 0.3s ease;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateX(100px);
        width: fit-content;
    }

    .wrapper ul:after a:after{
        top: 0;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
        backdrop-filter: blur( 8px );
        display: flex;
        position: absolute;
    }
    .wrapper ul a:hover:after{
        transform: scaleY(1);
    }

    input[type="checkbox"]{
        display: none;
    }

    #active:checked ~ .wrapper ul {
        width: 100%;
        height: 10vh;
        background: rgba(7, 5, 5, 0.35);
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur( 13.5px );
    }

    #active:checked ~ .wrapper ul li a{
        transform: none;
        transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
        transition-delay: .6s;
        transform: translateX(-100px);
        opacity: 1;
    }

    #active:checked ~ .wrapper ul li a:hover{
        color: #644cd1;
    }

    #active:checked ~ .wrapper ul li a:active{
        color: #7559F1;
    }

    /* -------------------- */

/* -------------------- */
    

    /* Capa */

    .background-image {
        width: 100%;
        height: 200vh;
    }
    
    .informations{
        color: white;
        height: 30%;
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 10em 10em;
        padding-bottom: 10em;
    }

    .sphere {
        width: 60%;
        margin-bottom: 10%;
    }

    .titulo {
        display: inline;
        align-items: center;
    }

    .title {
        font-size: xxx-large;
        position: absolute;
        z-index: 9999;
    }

    .subtitle {
        font-size: large;
        position: absolute;
        z-index: 9999;
        margin-left: 250px;
        margin-top: 9px;
    }

    .instructors_1 {
        display: flex;
        align-items: center;
        margin-top: 3em;
    }

    .know-instructors {
        font-size: smaller;
        margin-left: 1%; 
        margin-top: 3%;
    }

    .first-description {
        font-size: smaller;
        margin-top: 8%;
    }

    /* Fotos dos instrutores */
    .circulo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 4px solid black;
        background-position: center center;
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .circulo:hover {
        width: 45px;
        height: 45px;
        z-index: 1;
    }

    /* Buttons */

    .buttons {
        display: inline;
        margin-top: 3em;
    }

    .more {
        z-index: 9999;
        position: absolute;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: fit-content;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        vertical-align: middle;
    }

    .more:hover,
    .more:focus { 
        background-color: #7559F1;
        color: #ffffff;
    }

    .more:active {
    background: #644cd1;
    color: rgb(255, 255, 255, .7);
    }

    .subscribe {
        margin-left: 200px;
        z-index: 9999;
        position: absolute;
        align-items: center;
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 100px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: fit-content;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
    }

    .subscribe:hover,
    .subscribe:focus { 
        border: 1px solid #F158BD;
        color: #F158BD;
        font-weight: 500;
    }

    .subscribe:active {
    background: #F158BD;
    color: rgb(255, 255, 255, .7);
    }

    /* Tooltip */

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        top: 5px;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgb(255, 255, 255);
        color: #0f0c0c;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        width: 120px;
        top: 110%;
        left: 5%; 
        position: absolute;
        z-index: 1;
        font-size: smaller;
        font-weight: 600;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    /* Perguntas ao usuário */

    .unfocused-box {
        width: 20%;
        height: fit-content;
        text-align: justify;
        line-height: 20px;
        padding: 2%;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        position: absolute;
    }

/* -------------------- */

/* Sobre o curso */

    .body_hab {
        padding: 5%;
        display: flex;
        color: #000000;
        background-color: rgb(244, 255, 123);
        display: grid;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        grid-template-columns: 60% 40%;
        grid-template-rows: 10% 10% 10% 10% 10% 10%;
        grid-template-areas:"texto hab1"
                            "texto hab2"
                            "texto hab3"
                            "texto hab4"
                            "texto hab5"
                            "texto hab6";
    }

    .texto {
        grid-area: texto;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .about-title {
        margin-bottom: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 10vh;
        text-transform: uppercase;
    }

    .paragrafo {
        text-align: justify;
        width: 90%;
        line-height: 2em;
        height: fit-content;
    }

    .hab-images {
        width: 35px;
        margin-right: 3%;
    }

    .hab1 {
        grid-area: hab1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }
    .hab2 {
        grid-area: hab2;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }
    .hab3 {
        grid-area: hab3;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }
    .hab4 {
        grid-area: hab4;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }
    .hab5 {
        grid-area: hab5;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }
    .hab6 {
        grid-area: hab6;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5%;
    }

    /* -------------------- */

    /* Instrutores */

    .instructors-title {
        padding-top: 10%;
        padding-left: 10%;
        width: 400px;
    }

    .nomeParticipantes {
        font-size: 30px;
        font-weight: 600;
        left: 250px;
        top: 2vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
        color: rgb(255, 255, 255);
        align-items: center;
        text-align: center;
    }

    .textoParticipantes {
        font-size: 25px;
        align-items: center;
        text-align: center;
        color: #ffffff;
    }

    /* CARDS  */

    .DivisoriaParticipantes {
        display: grid;
        grid-gap: 50px;
        grid-row-gap: 0;
        grid-template-areas:
            "arthur amanda"
            "barbara julia"
            "joao nada";
        padding: 3em; 
        justify-content: center;
    }

    /* Coloca os cards pares para baixo */
    .par {
        margin-top: 50%;
    }

    .participantes {
        border: 0;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 350px;
        margin-top: 40px;
        background: url(assets/instructorsBackground.jpg);
        align-items: center;
    }

    .participantes:hover {
        width: 290px;
        height: 360px;
        z-index: 1;
    }

    .arthur {
        grid-area: arthur;
        position: relative;
    }

    .amanda {
        grid-area: amanda;
        position: relative;
    }

    .barbara {
        grid-area: barbara;
        position: relative;
    }

    .julia {
        grid-area: julia;
        position: relative;
    }

    .joao {
        grid-area: joao;
        position: relative;
    }

    .pictures{
        height: 60%;
        width: fit-content;
        margin-top: 47px;
    }

    /* Modal */
    .modal {
        position: absolute;
        width: 80em;
        transition: all 0.4s;
        margin-top: 25%;
        display: flex;
        justify-content: center;
        visibility: hidden;
    }
    .modal-content {
        height: fit-content;
        width: 40%;
        position: absolute;
        background: #ffff;
        color: #000000;
        border-radius: 4px;
        padding: 3%;
        font-weight: 500;
        text-align: justify;
    } 

    .modal-content b {
        color: #d7da4a;
    }

    .modal-content h1 {
        font-size: large;
        font-weight: 600;
        padding-bottom: 1em;
        color: #000000;
    }

    .modal:target {
        visibility: visible;
        opacity: 1;
    }
    .box-close {
        position: absolute;
        top: 0;
        right: 15px;
        color: #000000;
        text-decoration: none;
        font-size: 30px;
    }
    /* -------------------- */

    /* Conteúdo */

    .content {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .contentTitle {
        margin-left: 5%;
        margin-right: 3%;
        width: 350px;
    }

    swiper-container {
        width: 5000px;
        height: 300px;
    }

    swiper-slide {
        text-align: left;
        border-radius: 5%;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin-bottom: 5%;
    }

    .blue-box {
        background-color: #7559F1;
    }

    .yellow-box {
        background-color: #d7da4a; 
    }

    .pink-box {
        background-color: #F158BD;
    }

    .orange-box {
        background-color: #e7631b;
    }

    .content-text {
        font-size: 12px;
    }

    /* -------------------- */

    /* Inscreva-se */
    .subscribe-area {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blue-sphere1 {
        width: 40%;
        margin-bottom: 15%; 
        margin-right: 5%;
    }

    .blue-sphere2 {
        width: 40%;
        margin-top: 20%; 
        margin-left: 5%;
    }

    .subscribe-box {
        width: 45%;
        height: 75%;
        text-align: justify;
        display: flex;
        justify-content: center;
        padding: 2%;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        position: absolute;
    }

    .subscribe-title {
        font-size: x-large;
        font-weight: 550;
        margin-bottom: 5%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    label {
        margin-bottom: 2%;
    }

    input, 
    select {
        border: 2px solid transparent;
        border-radius: 100px;
        height: 60px;
        padding-left: 3%;
        margin-bottom: 5%;
    }

    input:hover{
        border: 2px solid #644cd1;
    }

    option {
        font-family:'Montserrat', sans-serif;
    }

    .send {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #644cd1;
        margin-left: 83%;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffff;
        cursor: pointer;
        font-family:'Montserrat', sans-serif;
        font-size: medium;
        font-weight: 550;
        max-width: 90px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .send:hover{ 
        background-color: #7559F1;
        color: #ffffff;
    }

    .send:active {
        background: #644cd1;
        color: rgb(255, 255, 255, .7);
    }
